.decor-hero__item {
	position: absolute;
}
.decor-hero__item--1 {
  background: url('../../img/main/decor/01.svg') 0 0 no-repeat;
	width: 88px;
	height: 47px;
	top: 27.35%;
	left: 8.9%;
}
.decor-hero__item--2 {
  background: url('../../img/main/decor/02.svg') 0 0 no-repeat;
	width: 284px;
	height: 284px;
	bottom: -32.2%;
	left: -5.5%;
}
.decor-hero__item--3 {
  background: url('../../img/main/decor/03.svg') 0 0 no-repeat;
	width: 187px;
	height: 137px;
	top: 28%;
	right: -1.6%;
}
.decor-hero__item--4 {
  background: url('../../img/main/decor/04.svg') 0 0 no-repeat;
	width: 110px;
	height: 110px;
	bottom: -11%;
	right: 12.6%;
}