.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(0, 0, 0, .05);
  padding: 20px 0;
  z-index: 50;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 60px;
}

.header__logo{
  max-width: 100%;
}

.header__menu {
  flex-grow: 1;
}

.header__actions {
	/* flex-shrink: 0; */
	display: flex;
  flex-wrap: wrap;
	align-items: center;
	gap: 36px;
	flex-wrap: wrap;
}

.header__button--login {
	background: url('../../img/icons/user.svg') left no-repeat;
	padding-left: 24px;
	font-weight: 700;
	line-height: 1.25;
}

.header__button--login:hover span {
	text-decoration: underline;
}