@import "reset.css";
@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

.page {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	color: #424551;
}

[class*="__container"] {
	max-width: 1270px;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 20px;
}

.page .hw {
	display: none;
}

.page .hw:target {
	display: block;
}

.header {
	padding: 20px 0 0 0;
	margin: 0 0 60px 0;
}

.about,
.curator,
.game {
	margin: 0 0 180px 0;
}

.header ul li {
	display: inline-block;
	font-weight: 900;
	font-size: 40px;
	line-height: 160%;
	margin: 0 50px 0 0;
	color: #34A853;
}

.header ul li:last-child {
	margin: 0;
}

.header ul li:hover {
	color: aqua;
	transition: all 0.7s ease 0s;
	transform: scale(1.1);
}

.header ul li:active {
	color: aquamarine;
}

.about__container>*:last-child,
.curator__container>*:last-child {
	margin: 0;
}

.about__title {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	margin: 0 0 40px 0;
}

.about__text {
	margin: 0 0 48px 0;
}

.about__list-titile {
	font-weight: 700;
	font-size: 28px;
	line-height: 150%;
	color: #1E212C;
	margin: 0 0 24px 0;
}

.about__list {
	margin: 0 0 40px 0;
}

.about__list li::before {
	content: "";
	display: inline-block;
	position: absolute;
	background: url('../img/icons/check.svg') 0 0 no-repeat;
	width: 16px;
	height: 16px;
	top: 6px;
	left: 0;
}

.about__list li {
	position: relative;
	margin: 0 0 4px 0;
	padding: 0 32px;
}

ul li:last-child {
	margin: 0;
}

.curator__titile {
	font-weight: 700;
	line-height: 150%;
	text-transform: uppercase;
	color: #1E212C;
	margin: 0 0 8px 0;
}

.curator__name {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	color: #1E212C;
	margin: 0 0 16px 0;
}

.curator__descr {
	color: #787A80;
	line-height: 150%;
	margin: 0 0 32px 0;
}

.curator__list {
	font-weight: 700;
	line-height: 160%;
	color: #424551;
	margin: 0 0 32px 0;
}

.curator__list li {
	position: relative;
	margin: 0 0 4px 0;
	padding: 0 24px;
}

.curator__list li::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 16px;
	height: 16px;
	top: 6px;
	left: 0;
}

.star::before {
	background: url('../img/icons/star.svg') 0 0 no-repeat;
}

.play::before {
	background: url('../img/icons/play.svg') 0 0 no-repeat;
}

.person::before {
	background: url('../img/icons/person.svg') 0 0 no-repeat;
}

.curator__text {
	margin: 0 0 40px 0;
}

.game {
	font-weight: 700;
	font-size: 30px;
	line-height: 160%;
}

.game__container {
	border: #1E212C solid 5px;
	padding: 20px;
}

[class*="point-"] {
	padding: 20px;
	opacity: 0;
	visibility: hidden;
}

.game__start:hover~.point-2,
.point-2:hover~.point-3,
.point-3:hover~.point-4,
.point-4:hover~.point-5,
.point-5:hover~.point-6,
.point-6:hover~.point-7,
.point-7:hover~.point-8,
.point-8:hover~.point-9,
.point-9:hover~.game__end,
.point-2:hover,
.point-3:hover,
.point-4:hover,
.point-5:hover,
.point-6:hover,
.point-7:hover,
.point-8:hover,
.point-9:hover,
.game__end:hover {
	opacity: 1;
	transition: all 2s ease-out, background-color 1.5s;
	visibility: visible;
}

.game__start {
	padding: 20px;
	max-width: 107px;
	background-color: #34A853;
}

.point-2 {
	max-width: 107px;
	height: 500px;
	background-color: #34A853;
}

.point-3 {
	height: 50px;
	background-color: aquamarine;
}

.point-4 {
	max-width: 40px;
	height: 388px;
	background-color: aqua;
	margin: 0 0 0 auto;
}

.point-5 {
	height: 23px;
	background-color: greenyellow;
}

.point-6 {
	max-width: 40px;
	height: 260px;
	background-color: yellow;
}

.point-7 {
	height: 57px;
	background-color: antiquewhite;
}

.point-8 {
	max-width: 30px;
	height: 388px;
	background-color: aqua;
	margin: 0 0 0 auto;

}

.point-9 {
	height: 10px;
	background-color: red;
}

.game__end {
	width: 250px;
	height: 250px;
	background-color: aqua;
	padding: 20px;
	margin: 0 auto;
	opacity: 0;
}
.game__end:hover {
	color: red;
	background-color: wheat;
}

.footer {
	text-align: center;
}

.footer__img {
	margin: 0 0 60px 0;
}

.footer__img img {
	width: 100%;
	max-width: 420px;
}

.footer__link {
	display: inline-block;
	font-family: Roboto, sans-serif;
	font-size:80px;
	font-weight: 900;
	line-height: 130%;
	color: rgb(250, 235, 215);
	text-shadow: 0 0 20px greenyellow;
	margin: 0 0 60px 0;
}

.footer__link:hover {
	text-shadow: 0 0 20px green;
}

.footer__link:active {
	color: rgb(30, 33, 44, .6);
	text-shadow: 0 0 20px aquamarine;
}

.footer__link:visited {
	color: aqua;
}